@import "tailwindcss";

:root {
  --main-bg: #3a3a46;
  --secondary-bg: #2d2d37;
  --accent-1: #797992;
  --accent-2: #97afb3;
  --text-color: #f0f0f0;
}

:root {
  --color-background: var(--main-bg);
  --color-foreground: var(--text-color);
  --font-sans: var(--font-jura);
  --font-mono: var(--font-jura);
}

body {
  font-family: var(--font-sans), sans-serif;
  background-color: var(--main-bg);
  color: var(--text-color);
  background-size: 15px 15px;
  overflow-x: hidden;
}

.font-golem {
  font-family: var(--font-sans), sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

