@import "tailwindcss";

@theme { 
  --background: #393947;
  --foreground: #000;
  --accent: #00e5c5;
  --accent-foreground: #fff;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --border: oklch(100% 0 0/.1);
  --radius: .625rem;
}

@layer base {
  body {
    background-color: var(--background);
    background-image: linear-gradient(225deg,var(--foreground) 0%,var(--background) 100%);
    color: var(--accent-foreground);
    font-family: var(--font-mono);
  }

  h2 {
    color: var(--accent-foreground);
    font-family: var(--font-mono);
    font-weight: var(--font-weight-bold);
  }

}