@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tealblue: #6D959E;
  --dark: #434343;
}

.navbar {
  background: var(--tealblue);
  color: white;
}

.button {
  background: var(--dark);
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s ease;
}

.button:hover {
  background: #1f2937; /* dark gray on hover */
}


p {
  color: #6b7280;
}

h1 {
  @apply text-3xl font-bold
}