@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tealblue: #6D959E;
  --dark: #434343;
}

.navbar {
  background: var(--tealblue);
  color: white;
}

.button {
  background: var(--dark);
  color: white;
}

.button:hover {
  background: white;
  color: var(--dark);
}

p {
  color: #6b7280;
}

h1 {
  @apply text-3xl font-bold mb-4
}